footer
  .container-fluid
    ul
      .navbar-brand= link_to 'Source Code', 'https://github.com/GigaChubinidze/rails_blog_app', target:"_blank"
      

css
  footer {
     position: fixed;
     height: XXX;
     bottom: 0;
     width: 100%;
     background-color: orange;
     left: 0px;
  }
  ul {
     text-align: center;
     margin-right: 70px
  }